USE master
GO
CREATE DATABASE FANTASYADVENTURES
GO
USE [FANTASYADVENTURES]
GO
/****** Object:  Table [dbo].[ANSWER]    Script Date: 5/25/2023 5:18:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ANSWER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DAPAN] [nvarchar](50) NOT NULL,
	[QUESTION_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHARACTER]    Script Date: 5/25/2023 5:18:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHARACTER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TEN] [nvarchar](50) NOT NULL,
	[MOTA] [nvarchar](200) NOT NULL,
	[COIN] [int] NOT NULL,
	[TOCDO] [int] NOT NULL,
	[LUOTTRALOITHEM] [int] NOT NULL,
	[MAYMAN] [int] NOT NULL,
 CONSTRAINT [PK__CHARACTE__3214EC273DB3FAF3] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HISTORY]    Script Date: 5/25/2023 5:18:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HISTORY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOIDUNG] [nvarchar](200) NOT NULL,
	[THOIGIAN] [datetime] NULL,
	[TAIKHOAN] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAP]    Script Date: 5/25/2023 5:18:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAP](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TEN] [nvarchar](100) NOT NULL,
	[CAPDO] [int] NULL,
	[COIN_RANDOM1] [int] NULL,
	[COIN_RANDOM2] [int] NULL,
	[COIN_TARGET] [int] NULL,
	[MOTA] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PLAYER]    Script Date: 5/25/2023 5:18:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLAYER](
	[TAIKHOAN] [varchar](50) NOT NULL,
	[MATKHAU] [varchar](100) NOT NULL,
	[CAPDO] [int] NULL,
	[COIN] [int] NULL,
	[NHANVAT] [int] NULL,
	[NGAYTAO] [datetime] NULL,
	[QUYENHAN] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TAIKHOAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PLAYER_CHARACTER]    Script Date: 5/25/2023 5:18:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLAYER_CHARACTER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TAIKHOAN] [varchar](50) NOT NULL,
	[CHARACTER_ID] [int] NOT NULL,
	[THOIGIAN] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUESTION]    Script Date: 5/25/2023 5:18:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUESTION](
	[ID] [int] NOT NULL,
	[CAUHOI] [nvarchar](50) NOT NULL,
	[COIN] [int] NULL,
	[CAPDO] [int] NULL,
	[LOAI] [int] NULL,
 CONSTRAINT [PK__QUESTION__3214EC2752DAA64F] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VOCABULARY]    Script Date: 5/25/2023 5:18:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VOCABULARY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TAIKHOAN] [varchar](50) NOT NULL,
	[QUESTION_ID] [int] NOT NULL,
	[THOIGIAN] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ANSWER] ON 

INSERT [dbo].[ANSWER] ([ID], [DAPAN], [QUESTION_ID]) VALUES (1, N'trường học', 1)
INSERT [dbo].[ANSWER] ([ID], [DAPAN], [QUESTION_ID]) VALUES (2, N'đi', 2)
INSERT [dbo].[ANSWER] ([ID], [DAPAN], [QUESTION_ID]) VALUES (4, N'quay về', 3)
SET IDENTITY_INSERT [dbo].[ANSWER] OFF
GO
SET IDENTITY_INSERT [dbo].[CHARACTER] ON 

INSERT [dbo].[CHARACTER] ([ID], [TEN], [MOTA], [COIN], [TOCDO], [LUOTTRALOITHEM], [MAYMAN]) VALUES (1, N'Chó Doberman', N'Chó Doberman là giống chó có thân hình lực lưỡng, cao to khỏe mạnh với hai màu lông là màu đen viền vàng và màu hung viền đỏ. ', 0, 15, 0, 1)
INSERT [dbo].[CHARACTER] ([ID], [TEN], [MOTA], [COIN], [TOCDO], [LUOTTRALOITHEM], [MAYMAN]) VALUES (2, N'Chó Shiba Inu', N'Shiba Inu có ngoại hình nhỏ gọn .Chúng có hai lớp lông với lớp ngoài cứng và thẳng còn lớp bên trong mềm và dày. ', 200, 25, 2, 3)
INSERT [dbo].[CHARACTER] ([ID], [TEN], [MOTA], [COIN], [TOCDO], [LUOTTRALOITHEM], [MAYMAN]) VALUES (3, N'Mèo Somali', N'Mèo Somali có thân hình dài, nhẹ, vạm vỡ, đôi chân dài, thon, bàn chân hình bầu dục', 100, 17, 1, 2)
SET IDENTITY_INSERT [dbo].[CHARACTER] OFF
GO
SET IDENTITY_INSERT [dbo].[MAP] ON 

INSERT [dbo].[MAP] ([ID], [TEN], [CAPDO], [COIN_RANDOM1], [COIN_RANDOM2], [COIN_TARGET], [MOTA]) VALUES (1, N'Bầu trời xanh thẳm', 1, 5, 10, 20, N'Bầu trời của hy vọng, của tình yêu, và của những người con xa quê mong muốn quay về với quê hương.')
INSERT [dbo].[MAP] ([ID], [TEN], [CAPDO], [COIN_RANDOM1], [COIN_RANDOM2], [COIN_TARGET], [MOTA]) VALUES (2, N'Tiệc bãi biển', 2, 10, 20, 200, N'Cắm trại trên bãi biển, và cùng nhau nâng ly mừng thì còn gì tuyệt vời hơn chứ.')
INSERT [dbo].[MAP] ([ID], [TEN], [CAPDO], [COIN_RANDOM1], [COIN_RANDOM2], [COIN_TARGET], [MOTA]) VALUES (3, N'Dưới đáy vực sâu', 3, 15, 25, 300, N'Quang cảnh tăm tối như ở dưới đáy vực sâu, càng kì vọng trên cao bao nhiêu, thì khi thất vọng…')
SET IDENTITY_INSERT [dbo].[MAP] OFF
GO
INSERT [dbo].[PLAYER] ([TAIKHOAN], [MATKHAU], [CAPDO], [COIN], [NHANVAT], [NGAYTAO], [QUYENHAN]) VALUES (N'admin', N'$2a$11$GOy45Yl/uae/bvEdDs2Eeu2GX.XGujfnRl4.67Iz8Bo5islEe4JiS', 1, 0, 1, CAST(N'2022-11-16T18:41:12.460' AS DateTime), 1)
INSERT [dbo].[PLAYER] ([TAIKHOAN], [MATKHAU], [CAPDO], [COIN], [NHANVAT], [NGAYTAO], [QUYENHAN]) VALUES (N'lethinh2003', N'$2a$11$SWLsCYT2pwVkZZlPGvxEj.yOd89juBy1IgTnce0MXGFjQ2jWKmehq', 1, 0, 1, CAST(N'2022-11-16T10:37:12.937' AS DateTime), 1)
GO
SET IDENTITY_INSERT [dbo].[PLAYER_CHARACTER] ON 

INSERT [dbo].[PLAYER_CHARACTER] ([ID], [TAIKHOAN], [CHARACTER_ID], [THOIGIAN]) VALUES (1, N'lethinh2003', 1, CAST(N'2022-11-12T03:16:06.413' AS DateTime))
INSERT [dbo].[PLAYER_CHARACTER] ([ID], [TAIKHOAN], [CHARACTER_ID], [THOIGIAN]) VALUES (1013, N'admin', 1, CAST(N'2022-11-16T18:41:12.463' AS DateTime))
SET IDENTITY_INSERT [dbo].[PLAYER_CHARACTER] OFF
GO
INSERT [dbo].[QUESTION] ([ID], [CAUHOI], [COIN], [CAPDO], [LOAI]) VALUES (1, N'school', 10, 1, 0)
INSERT [dbo].[QUESTION] ([ID], [CAUHOI], [COIN], [CAPDO], [LOAI]) VALUES (2, N'go', 10, 1, 0)
INSERT [dbo].[QUESTION] ([ID], [CAUHOI], [COIN], [CAPDO], [LOAI]) VALUES (3, N'back', 10, 1, 0)
GO
ALTER TABLE [dbo].[CHARACTER] ADD  CONSTRAINT [DF__CHARACTER__COIN__24927208]  DEFAULT ((0)) FOR [COIN]
GO
ALTER TABLE [dbo].[CHARACTER] ADD  CONSTRAINT [DF_CHARACTER_TOCDO]  DEFAULT ((15)) FOR [TOCDO]
GO
ALTER TABLE [dbo].[CHARACTER] ADD  CONSTRAINT [DF_CHARACTER_LUOTTRALOI]  DEFAULT ((0)) FOR [LUOTTRALOITHEM]
GO
ALTER TABLE [dbo].[CHARACTER] ADD  CONSTRAINT [DF_CHARACTER_MAYMAN]  DEFAULT ((0)) FOR [MAYMAN]
GO
ALTER TABLE [dbo].[HISTORY] ADD  DEFAULT (getdate()) FOR [THOIGIAN]
GO
ALTER TABLE [dbo].[MAP] ADD  DEFAULT ((1)) FOR [CAPDO]
GO
ALTER TABLE [dbo].[MAP] ADD  DEFAULT ((0)) FOR [COIN_RANDOM1]
GO
ALTER TABLE [dbo].[MAP] ADD  DEFAULT ((0)) FOR [COIN_RANDOM2]
GO
ALTER TABLE [dbo].[MAP] ADD  DEFAULT ((0)) FOR [COIN_TARGET]
GO
ALTER TABLE [dbo].[PLAYER] ADD  DEFAULT ((1)) FOR [CAPDO]
GO
ALTER TABLE [dbo].[PLAYER] ADD  DEFAULT ((0)) FOR [COIN]
GO
ALTER TABLE [dbo].[PLAYER] ADD  DEFAULT (getdate()) FOR [NGAYTAO]
GO
ALTER TABLE [dbo].[PLAYER] ADD  DEFAULT ((0)) FOR [QUYENHAN]
GO
ALTER TABLE [dbo].[PLAYER_CHARACTER] ADD  DEFAULT (getdate()) FOR [THOIGIAN]
GO
ALTER TABLE [dbo].[QUESTION] ADD  CONSTRAINT [DF__QUESTION__COIN__2D27B809]  DEFAULT ((0)) FOR [COIN]
GO
ALTER TABLE [dbo].[QUESTION] ADD  CONSTRAINT [DF__QUESTION__CAPDO__2E1BDC42]  DEFAULT ((1)) FOR [CAPDO]
GO
ALTER TABLE [dbo].[QUESTION] ADD  CONSTRAINT [DF__QUESTION__LOAI__2F10007B]  DEFAULT ((0)) FOR [LOAI]
GO
ALTER TABLE [dbo].[VOCABULARY] ADD  DEFAULT (getdate()) FOR [THOIGIAN]
GO
ALTER TABLE [dbo].[ANSWER]  WITH CHECK ADD  CONSTRAINT [ANSWER_QUESTION_ID_FK] FOREIGN KEY([QUESTION_ID])
REFERENCES [dbo].[QUESTION] ([ID])
GO
ALTER TABLE [dbo].[ANSWER] CHECK CONSTRAINT [ANSWER_QUESTION_ID_FK]
GO
ALTER TABLE [dbo].[HISTORY]  WITH CHECK ADD  CONSTRAINT [HISTORY_USERNAME_FK] FOREIGN KEY([TAIKHOAN])
REFERENCES [dbo].[PLAYER] ([TAIKHOAN])
GO
ALTER TABLE [dbo].[HISTORY] CHECK CONSTRAINT [HISTORY_USERNAME_FK]
GO
ALTER TABLE [dbo].[PLAYER]  WITH CHECK ADD  CONSTRAINT [PLAYER_CHARACTER_FK] FOREIGN KEY([NHANVAT])
REFERENCES [dbo].[CHARACTER] ([ID])
GO
ALTER TABLE [dbo].[PLAYER] CHECK CONSTRAINT [PLAYER_CHARACTER_FK]
GO
ALTER TABLE [dbo].[PLAYER_CHARACTER]  WITH CHECK ADD  CONSTRAINT [PLAYER_CHARACTER_CHACRACTER_ID_FK] FOREIGN KEY([CHARACTER_ID])
REFERENCES [dbo].[CHARACTER] ([ID])
GO
ALTER TABLE [dbo].[PLAYER_CHARACTER] CHECK CONSTRAINT [PLAYER_CHARACTER_CHACRACTER_ID_FK]
GO
ALTER TABLE [dbo].[PLAYER_CHARACTER]  WITH CHECK ADD  CONSTRAINT [PLAYER_CHARACTER_TAIKHOAN_FK] FOREIGN KEY([TAIKHOAN])
REFERENCES [dbo].[PLAYER] ([TAIKHOAN])
GO
ALTER TABLE [dbo].[PLAYER_CHARACTER] CHECK CONSTRAINT [PLAYER_CHARACTER_TAIKHOAN_FK]
GO
ALTER TABLE [dbo].[VOCABULARY]  WITH CHECK ADD FOREIGN KEY([QUESTION_ID])
REFERENCES [dbo].[QUESTION] ([ID])
GO
ALTER TABLE [dbo].[VOCABULARY]  WITH CHECK ADD FOREIGN KEY([TAIKHOAN])
REFERENCES [dbo].[PLAYER] ([TAIKHOAN])
GO
